<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/1.css">
</head>
<body>
    <%= data[0].titleArticle %>
    <p>
        <%= data[0].textArticle %>
    </p>
    <div class="forms">
        <h2>Изменить статью</h2>
        <form action="http://localhost:3000/admin/articles/editArticle" method="post">
            <label for="titleArticle">Название статьи</label>
            <input type="text" name="titleArticle" id="titleArticle" required value="<%= data[0].titleArticle %>" class="inputs">
            <p>
                <label for="textArticle">Текст статьи</label>
                <textarea rows="10" cols="30" id="textArticle" class="textStyle"><%= data[0].textArticle %></textarea>
            </p>
            <p>
                <label for="descriptionArticle">Описание статьи</label>
                <input type="text" name="descriptionArticle" id="descriptionArticle" value="<%= data[0].descriptionArticle %>" class="inputs">
            </p>
            <button type="submit" id="editArticle" class="edit_button">Редактировать статью</button>
            <button type="submit" id="deleteArticle" class="delete_button">Удалить статью</button>
            <p><a href="http://localhost:3000/admin/articles/">Вернуться к списку статей</a></p>
        </form>
    </div>

    <script>
        document.querySelector("#editArticle").onclick = function(){
            event.preventDefault();
            let article = {
                'idArticle':location.href.split("/").at(-1),
                'titleArticle': document.querySelector("#titleArticle").value,
                'textArticle': document.querySelector("#textArticle").value,
                'descriptionArticle': document.querySelector("#descriptionArticle").value,
            }
            let promise = fetch('http://localhost:3000/admin/articles/editArticle', {
                method: 'POST',
                headers:{
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify(article)
            })
            .then(response=> document.location.reload())
            .then(response=> alert("Данные изменены"))
            .catch(response=> alert("error: " + response));
        }

        document.querySelector("#deleteArticle").onclick = function(){
            event.preventDefault();
            let article={
                'idArticle': location.href.split("/").at(-1),
            }
            let promise = fetch('http://localhost:3000/admin/articles/deleteArticle', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify(article)
            })
            .then(response=> document.location="http://localhost:3000/admin/articles/")
            .catch((error)=>{
                console.log(error);
            });
        }
    </script>

</body>
</html>